<li class="nav-item">
	<a href="{{ url('usuarioList')}}" class="nav-link"><i class="nc-icon nc-layout-11"></i>Home</a>
</li>
<li class="nav-item">
	<a href="{{ url('reservas') }}" class="nav-link">Reserva</a>
</li>
<li class="nav-item">
	<a href="" class="nav-link">Galeria</a>
</li>
<li class="nav-item">
	<a href="" class="nav-link">POST </a>
</li>
<li class="nav-item">
	<a href="{{url('logout')}}"  class="btn btn-danger btn-round"><i class="nc-icon nc-button-power"></i> LogOut</a>
</li>