{% extends 'base/baseFoto2.html.twig' %}


{% block title %} Seccion de Clientes {% endblock %}


{% block navbar %}
{{include('base/menu_general_cliente.html.twig')}}

{% endblock %}
{% block fondo %}

	<div class="page-header section-dark" style="background-image: url({{asset('static/assets/img/antoine-barres.jpg')}})">
            <div class="filter"></div>
    		<div class="content-center">
    			<div class="container">
    				<div class="title-brand">
    					<h2 class="presentation-title">JestradaFOTO</h2>
    					<div class="fog-low">
    						<img src="assets/img/fog-low.png" alt="">
    					</div>
    					<div class="fog-low right">
    						<img src="assets/img/fog-low.png" alt="">
    					</div>
    				</div>

    				<h2 class="presentation-subtitle text-center">Make your mark with a Free Bootstrap 4 UI Kit! </h2>
    			</div>
    		</div>
            <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); ">

            </div>

	</div>
{% endblock %}

{% block content %}



{% endblock %}