{% extends 'base/baseGaleria.html.twig' %}


{% block title %}Agregar Reserva{% endblock %}

{% block navbar %}
{{include('base/menu_general.html.twig')}}
{% endblock %}

{% block content %}

<div class="container">

{{form_start(form)}}
{{form_widget(form)}}
<div class="form-group">
{{form_end(form)}}
</div>

{% endblock %}
