{% extends 'base/baseFoto.html.twig' %}

{% block title %} Seccion de reservas {% endblock %}



{% block navbar %}
	<li class="fh5co-active"><a href="index.html">Home</a></li>
	<li><a href="portfolio.html">Reservas</a></li>
	<li><a href="contact.html">Detalle de reserva</a></li>
	<li><a href="">Tipos de reserva</a></li>

{% endblock %}
{% block content %}




{% endblock %}