{% extends 'base/baseFoto.html.twig' %}

{% block title %} Seccion de reservas {% endblock %}



{% block navbar %}
	<li class="fh5co-active"><a href="index.html">Home</a></li>
	<li><a href="contact.html">Usuarios</a></li>
	<li><a href="portfolio.html">Reservas</a></li>
	<li><a href="contact.html">Edicion de fechas</a></li>
	<li><a href="contact.html">Galeria</a></li>
	<li><a href="contact.html">Ventas</a></li>
{% endblock %}
{% block content %}




{% endblock %}