{% extends 'base/baseFoto2.html.twig' %}

{% block title %} Seccion de administracion {% endblock %}


{% block content %}

<h1>Se programara todo lo que el administrador pueda ver</h1>


{% endblock %}