{% extends 'base/baseFoto2.html.twig' %}

{% block title %} Seccion de administracion {% endblock %}

{% block navbar %}
{{include('base/menu_general.html.twig')}}
{% endblock %}
{% block content %}
<div class="container">
	<h1><center> Bienvenido {{app.session.get('nombre')}}</center></h1>
	
</div>


{% endblock %}