{% extends 'base/baseFoto2.html.twig' %}


{% block title %}Galeria{% endblock %}

{% block navbar %}
{{include('base/menu_general_cliente.html.twig')}}
{% endblock %}

{% block content %}
	
<h1><strong>Aqui estara la galeria de fotos</strong></h1>

{% endblock %}